@media screen and (min-width: 1024px){

    h1 {
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 0;
    }

    h2 {
        display: none;
    }

    p {
        font-size: 9pt;
        font-weight: thin;
        line-height: 11pt;
        margin-top: 7px;
    }

    header {
        position: absolute;
        left: 1;
        right: 0;
        top: 0;
        justify-content: left;
        background: rgb(44,93,166);
        background: linear-gradient(180deg, rgba(44,93,166,1) 0%, rgba(108,154,214,1) 100%);
        width: 280px;
        height: 80px;
        margin: 10px;
        padding: 20px;
        padding-top: 15px;
        border-radius: 25px;
        display: flex;
    }

    header > img {
        width: 75px;
        height: 75px;
        padding-top: 8px;  
    }

    #dock-wrapper {
        position: absolute;
        display: flex;
        gap: 15px;
        background-color: #d9d9d980;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 20px;
        right: 0,5;
        bottom: 0;
        justify-content: center; 
        width: fit-content;
    }

    .section-icon {
        display: flex;
        gap: 15px;
    }

    .dock-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center bottom;
        background: whitesmoke;
        border: none;
        border-radius: 12px;
        padding: 7px;
        margin: 0;
        box-shadow: 0px 1px 1px rgb(174, 174, 174);
    }

    .dock-icon:hover{
        transform: translateY(-5px);
        transition: 250ms;
    }

    .dock-icon img {
        width: 100%;
        height: 100%;
    }

    .conteneur {
        display: flex;
        
    }

    legend {
        display: none;
    }


/*
    button[data-descr]:hover::after {
        content: attr(data-descr);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -50px;
        color: black;
        min-width: 210px;
        min-height: 75px;

                background-image: url("data:image/svg+xml,%3Csvg width='242' height='86' viewBox='0 0 242 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_10_441)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2845 5.68213C9.7617 5.68213 5.28455 10.1593 5.28455 15.6821V51.6758C5.28455 57.1986 9.76169 61.6758 15.2845 61.6758H107.659L117.603 78.8962C119.143 81.5628 122.992 81.5624 124.531 78.8957L134.471 61.6758H226.115C231.638 61.6758 236.115 57.1986 236.115 51.6758V15.6821C236.115 10.1593 231.638 5.68213 226.115 5.68213H15.2845Z' fill='%23F5F5F5' fill-opacity='0.5' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_10_441' x='0.284546' y='0.682129' width='240.831' height='85.2139' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_10_441'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_10_441'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_10_441' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

        padding: 4px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 5px;
        font-size: small;
    }
 */
         button[data-descr]:hover::after {
             content: attr(data-descr);
             position: absolute;
             left: 50%;
             transform: translate(-50%, -50%);
             top: -35px;
             color: black;
             background-color: #f5f5f580;
             padding: 4px;
             padding-left: 14px;
             padding-right: 14px;
             border-radius: 5px;
             font-size: small;
             box-shadow: 0px 0px 2px rgb(100, 100, 100);
         }
   

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center bottom;
        background: whitesmoke;
        border: none;
        border-radius: 12px;
        padding: 7px;
        margin-left: 12px;
        position: relative;
        background: rgb(0, 133, 255);
        background: linear-gradient(0deg, rgba(0, 133, 255, 1) 0%, rgba(50, 157, 255, 1) 100%);
        margin-top: 0;
        margin-left: 0;
    }

    footer:hover {
        transform: translateY(-5px);
        transition: 250ms;
    }

    footer div {
        display: none;
    }

    footer img {
        padding-right: 3pt;
        width: 35px;
        height: 35px;
    }

    footer button {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .separateur {
        width: 1px;
        margin-left: 7px;
        margin-right: 7px;
        background-color: #9B9B9B;
        border-radius: 2px;
    }
}


























/**************\
/* CSS Tricks *\
/**************\

Flexbox Tricks :
**************

display: flex;

justify content (horizontal){
    flex-start: gauche
    flex-end: droite
    center: centre
    space-between: répartis uniformément
    space-around: répartis uniformément avec un espace égal autour d'eux
}

align items (vertical){
    flex-start: haut
    flex-end: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
    align-self: contôle un élément
}

flex-direction{
    row: haut
    row-reverse: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
}


flex: 1 {
    l'élement prend toute la place restante
}

flex: 2 {
    prend 2 fois plus de place que flex: 1
}

Chemin de classe {
    .classeParent>.classeEnfant {
        ...
    }
}

Image de fond {
    background-image: url("../img/bar.jpg");
    background-size: cover;
}

Taille auto d'un lien bouton{
    display: inline-block;
}