html{
    scroll-behavior: smooth;
}

body {
    margin-top: 50px;
    background-color: #1b1b1b;
    font-family: Avenir, arial;
    color: whitesmoke;
    justify-content: center;
}

img.radius {
    border-radius: 10pt;
}

.legende {
    color: #D5D5D5;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}




/** Galerie desktop */

.galerie {
    margin: 75px;
}

.galerie .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galerie .box .colonne_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.galerie .box .colonne {
    display: flex;
    flex-direction: column;
    width: 32%;
    align-items: center;
}

.galerie .box .colonne img {
    width: 100%;
    margin-bottom: 18px;
    border-radius: 5px;
}

.youtube {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 17px;
    border-radius: 5px;
}

.audio {
    margin-bottom: 17px;
}

@media only screen and (max-width: 769px) {
    .galerie .box {
        flex-direction: column;
    }

    .galerie .box .colonne {
        width: 100%;
    }

    .galerie {
        margin: 10px;
    }

    body {
        margin-top: 20px;
    }
}
















/**************\
/* CSS Tricks *\
/**************\


body {
    margin-top: 25pt;
    background-color: #1b1b1b;
    font-family: Avenir, arial;
    color: whitesmoke;
    justify-content: center;

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.visuel {
    width: 80%;
    max-width: 450px;
}

.visuel img {
    flex: 1;
    width: 100%;
    height: auto;
}



Flexbox Tricks :
**************

display: flex;

justify content (horizontal){
    flex-start: gauche
    flex-end: droite
    center: centre
    space-between: répartis uniformément
    space-around: répartis uniformément avec un espace égal autour d'eux
}

align items (vertical){
    flex-start: haut
    flex-end: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
    align-self: contôle un élément
}

flex-direction{
    row: haut
    row-reverse: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
}


flex: 1 {
    l'élement prend toute la place restante
}

flex: 2 {
    prend 2 fois plus de place que flex: 1
}

Chemin de classe {
    .classeParent>.classeEnfant {
        ...
    }
}

Image de fond {
    background-image: url("../img/bar.jpg");
    background-size: cover;
}

Taille auto d'un lien bouton{
    display: inline-block;
}